.list {
    min-width: 250px;

    .list-container {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .list-item {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: inherit;
        border-radius: 8px 0 0 8px;
        margin-bottom: 4px;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: 700;
        font-family: 'Gilroy', sans-serif;
        border-right: 1px solid var(--mono-gray-3);

        &:hover {
            background-color: var(--brand-secondary);
        }

        &--active {
            background-color: var(--brand-secondary);
            color: var(--brand-main);
            font-weight: 700;
            border-right: 3px solid var(--brand-green-37);

            &:hover {
                background-color: var(--brand-secondary);
            }
        }
    }
}