.radio-btn {

    display: flex;
    gap: 16px;

    input[type="radio"] {
        display: none;
    }

    .radio-item {

        label {
            border: 1px solid var(--mono-gray-3);
            border-radius: 100px;
            padding: 4px 12px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
            font-family: 'Gilroy', sans-serif;
            font-size: 14px;
            font-weight: 600;
            font-style: bold;
            color: var(--mono-dark-1);
            cursor: pointer;
        }

        input[type="radio"]:checked + label {
            color: var(--brand-main);
            border-color: var(--brand-main);
        }
    }
}