.step-container {
    margin: 1rem;
}

.form-group {
    max-width: 80vw;

    background-color: var(--white-main);
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}